Client/UI.Services.Interfaces/Connected Services/Services.TransactionManagerService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Services.TransactionManager.External" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Services.TransactionManager.External" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Transaction" nillable="true" type="tns:Transaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransaction" nillable="true" type="tns:ArrayOfTransaction" />
  <xs:complexType name="Transaction">
    <xs:sequence>
      <xs:element minOccurs="0" name="Counterparty" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Security" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Transaction" nillable="true" type="tns:Transaction" />
  <xs:complexType name="ArrayOfTransactionStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TransactionStatus" nillable="true" type="tns:TransactionStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransactionStatus" nillable="true" type="tns:ArrayOfTransactionStatus" />
  <xs:complexType name="TransactionStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="transactionStatus" type="tns:Status" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionStatus" nillable="true" type="tns:TransactionStatus" />
  <xs:simpleType name="Status">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success" />
      <xs:enumeration value="Failed" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Status" nillable="true" type="tns:Status" />
</xs:schema>