UI.Container/UI.Services.Interfaces/Connected Services/Services.TransactionManagerService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6019/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Services.TransactionManager.External" />
  <xs:element name="BookTrade">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Services.TransactionManager.External" minOccurs="0" name="transactions" nillable="true" type="q1:ArrayOfTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookTradeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Services.TransactionManager.External" minOccurs="0" name="BookTradeResult" nillable="true" type="q2:ArrayOfTransactionStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>